html, body {
    
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0; 
        padding: 0;
        font-family: 'Source Sans 3';
}

header {
    position: fixed;
    top: -0.5%;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000;
}

nav {
    display: flex;
    position: fixed;
    top: 0%;
    left: 83vw;
    font-size: 1.3em;
    align-items: center;
    background-color: none;
}

nav a {
    color: #FCD465;
    text-decoration: none;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

nav a:hover {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    text-shadow: 12px 12px 8px rgba(0, 0, 0, 0.9);
    background-color: #fff;
    border-radius: 20px;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background-color: #FCD465;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 100%; /* Make it a circle */
    font-size: 20px; /* Adjust font size as needed */
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

#section1 {
    background-image: url('/media/pushpins.jpg');
    padding: 50vh;
    text-align: center;
    background-size: cover; /* Set background-size to cover */
    background-position: center; 
}

section img {
    width: 100%;
    height: auto;
}

/*========END section 1========*/
/*========END section 1========*/

/*========section 2========*/
/*========section 2========*/

#section2 {
    padding: 70px;
    text-align: center;
    height: 115%;
    width: 100%;
    top: 0;
    /*background-image: url(/media/crossTEXTURE.jpg); Undecided on keeping this*/
    background-size: cover;
}

#wwa-wwd h2{
    display: block;
    font-size: 1.2em;
    font-weight: 800;
    left: -15%;
    margin-top: 0; 
}

#wwa-wwd {
    display: block; /* Change this line */
    color: #000;
    word-wrap: wrap;
    width: 100%;
    left: 14%;
    margin-top: -5vh;
    margin-bottom: 45px; /* Add this line */
}

#cards-container {
    margin-left: 55%;
    transform: translateX(-50%); /* Center the content horizontally */
}

#rectangle {
    background-image: url(/media/wt.jpg);
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 6px;
    box-shadow: 5px 1px 25px #333; /* Subtle box shadow */
}

#rectangle:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 1px 25px #FCD465; /* Subtle box shadow */
}

  #sect2-notes {
    position: relative;
    display: inline-block;
    background-image: url(/media/wt.jpg);
    background-size: cover;

    width: 72vw;
    height: 12vh;
    overflow: hidden;
    border: 2px solid #333;
    font-weight: 500;
    font-size: 0.7em;
    word-wrap: wrap;
    left: 50%; /* Center the content horizontally */
    transform: translateX(-65%); /* Center the content horizontally */
    margin-top: 48%; /* Adjust the margin-top to push it to the bottom */
    margin-bottom: -50%; /* Add margin-bottom to create space between it and the next section */
    padding-top: 5px;
    top: -85vh;
    align-self: flex-end;
    box-shadow: 0 0 5px #333; /* Subtle box shadow */
    border-radius: 15px 15px;
}

#sect2-notes ul {
    list-style-type: none; /* You can use different values like disc, circle, etc. */
    color: #000; /* Color of the bullets */
    padding-left: 1px; /* Add some padding to the left to give space between text and bullets */
}
 

/*========END section 2========*/
/*========END section 2========*/



/*========section 3========*/
/*========section 3========*/

#section3 {
    background-color: #000000 !important; /* Set the background color of section3 to black with !important */
    padding: 10px;
    width: 100%;
    color: #fff; /* Set text color to white for better visibility */
}

#yellow-dash {
    color: #FCD465;
    text-shadow: 0px 1px 5px white, 0px 2px 5px white;
}

.rounded-box {
    width: 425px;
    height: auto;
    border-radius: 10%;
    overflow: hidden;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
    background-image: url(/media/wt.jpg);
    border-radius: 80px;
}

.rounded-box:hover {
    transition: 0.2s ease-in-out;
    border: 2px solid #000000;
    box-shadow: 1px 1px 55px #ffffff; /* Subtle box shadow */
}

.rounded-box img{
    width: 70px;
    height: auto;
}

#leader {
    font-weight: bold;
}

#leader-title {
    font-weight: 500;
    font-style: italic;
}

.modal-body {
    background-image: url(/media/wt.jpg);
    background-size: cover;
}

.modal-body li:hover {
    background-color: #FCD465;
    border-radius: 10px;
}

.module-style {
    display: inline-block;
    font-style: italic;
    font-weight: 700;
}

#cats-dropdown-101, #cats-dropdown-201, 
#cats-dropdown-301, #cats-dropdown-401,
#cats-dropdown-501, #cats-dropdown-601,
#cats-dropdown-701, #cats-dropdown-801 {
    background-color: #FCD465;
}

ul.dropdown-menu {
    background-color: #FCD465;
}

#cats-dropdown-mctm {
    background-color: #333;
}


/*========END section 3========*/
/*========END section 3========*/

/*========section 4========*/
/*========section 4========*/

#section4 {
    background-image: url(/media/wt.jpg);
    background-size: cover;

}

#church-bones {
    position: relative;
    height: auto;
    width: 118.5%;
    left: -20%;
}

.dash {
    width: 50%;
    border: 1px solid #FCD465;
    box-shadow: 1px 1px 3px #040404; /* Subtle box shadow */
    border-radius: 1000%;
}

#however {
    position: relative;
    left: 0;
    font-weight: bold;
}

.small-square {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #FCD465; /* Yellow color */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: -2px 3px 3px #040404; /* Subtle box shadow */
    left: 20%;
}

  .square-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }

  .square-text {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
  }

/*========END section 4========*/
/*========END section 4========*/


/*========section 5========*/
/*========section 5========*/

#section5 {
    background-color: #FCD465;
}

.title {
    margin-bottom: 20px; /* Adjust the spacing between titles */
    line-height: 1.2; /* Limit to one line of space */
}

#hand-reaching {
    position: relative;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 2px solid black;
}

/*========END section 5========*/
/*========END section 5========*/


/*========section 6========*/
/*========section 6========*/

#work-dash {
    color: #FCD465;
    text-shadow: 1px 1px 3px rgb(0, 0, 0), 0px 2px 5px white;
}

/*========END section 6========*/
/*========END section 6========*/


/*========section 7========*/
/*========section 7========*/

#section7 {
    background-image: url('/media/path.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
}

.logo-img {
    max-width: 100%;
    height: auto;
}

.contact-text p {
    margin: 5px 0;
    font-size: 18px;
    color: #FCD465;
}

.btn.btn-link.text-light {
    text-decoration: none !important;
}

#sidebar {
    background-image: url(/media/wt.jpg);
    background-size: cover;
}

.offcanvas-body ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between grid items */
    list-style-type: none; /* Remove the default list style */
    padding: 0; /* Remove any default padding */
}

.offcanvas-body li:hover {
        background-color: #FCD465;
        border-radius: 10px;
}




