html, body {
    
        width: 100%;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0; 
        padding: 0;
        font-family: 'Source Sans 3';
}

header {
    position: fixed;
    top: -0.5%;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 1000;
}

nav {
    display: flex;
    position: fixed;
    margin-left: -5%;
    top: 0%;
    width: 108%;
    margin-top: -5px;
    font-size: 1.3em;
    background-color: hsla(0, 0%, 15%, 0.411);
}

nav a {
    color: #FCD465;
    text-decoration: none;
    margin-right: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

nav a:hover {
    text-decoration: none;
    text-shadow: 12px 12px 8px rgba(0, 0, 0, 0.9);
    background-color: hsla(0, 0%, 80%, 0.273);
    color: #333;
    border-radius: 7px;
}

#sidebarAbout {
    background-image: url("media/wt.jpg");
    background-size: cover;
}

#sidebarLeadership {
    background-image: url("media/wt.jpg");
    background-size: cover;
}

#sidebarResources {
    background-image: url("media/wt.jpg");
    background-size: cover;
    font-size: 0.9rem;
}

#sidebarResources a {
    width: 150%;
    font-style: italic;
    text-decoration: none;
    font-size: 0.9rem;
    border-radius: 5%;
}

#sidebarResources a:hover {
    text-transform: uppercase;
}

#sidebarPartnerships {
    background-image: url("media/wt.jpg");
    background-size: cover;
    font-size: 0.9rem;
}

.offcanvas-header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap between grid items */
    list-style-type: none; /* Remove the default list style */
    padding: 0; /* Remove any default padding */
}

.offcanvas-header li:hover {
        background-color: #FCD465;
        border-radius: 10px;
}

#leader {
    font-weight: bold;
}

#leader-title {
    font-weight: 500;
    font-style: italic;
}

.lead-desc {
    display: inline-block;
    position: relative;
    font-size: 0.9rem;
    padding-right: 10px;
}

#staff {
    display: inline-block;
    position: relative;
    grid-template-rows: 2;
}

.offcanvas.offcanvas-top {
    height: 75vh; /* Set offcanvas height to fill entire viewport */
}

.offcanvas-body {
    height: calc(100vh - 56px); /* Adjust the height value as needed */
    overflow-y: auto; /* Add scrollbar if content exceeds height */
}




/* #prevBtn,
#nextBtn {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background-color: #FCD465;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 100%; /* Make it a circle 
}*/

/* #prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
} */

#section1 {
    background-image: url("media/pushpins3.jpg");
    padding: 50vh;
    text-align: center;
    background-size: cover; /* Set background-size to cover */
    background-position: center; 
}

section img {
    width: 100%;
    height: auto;
}

/*--------Section 1 300px------*/

@media only screen and (max-width: 300px) {

    #section1 {
        background-image: url("media/pushpinsMobile.jpg");
        padding: 20vh;
        text-align: center;
        background-size: cover; /* Set background-size to cover */
        background-position: center; 
    }
    
    section img {
        width: 100%;
        height: auto;
    }
   
}

/*--------Section 1 640px------*/

@media only screen and (max-width: 640px) {

    #section1 {
        background-image: url("media/pushpins576.jpg");
        padding: 22vh;
        text-align: center;
        background-size: cover; /* Set background-size to cover */
        background-position: center; 
    }
    
    section img {
        width: 100%;
        height: auto;
    }
}

/*--------Section 1 768px------*/

@media only screen and (max-width: 768px) {

    #section1 {
        background-image: url("media/pushpins576.jpg");
        text-align: center;
        background-size: cover; /* Set background-size to cover */
        background-position: center; 
    }
    
    section img {
        width: 100%;
        height: auto;
    }
}

/*========END section 1========*/
/*========END section 1========*/

/*========section 2========*/
/*========section 2========*/


/* Base styles */
#section2 {
    padding: 70px;
    text-align: center;
    height: 115%;
    width: 100%;
    top: 0;
    background-size: cover;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust as needed */
}

.rectangle {
    background-image: url("media/wt.jpg");
    border: 1px solid #333;
    border-radius: 6px;
    box-shadow: 5px 1px 25px #333;
    width: 100%; /* Full width within its column */
    max-width: 540px;
}

.rectangle:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 5px 1px 25px #FCD465;
}

#top-3 {
    margin-left: 0;
}

/* Media queries for responsiveness */

/*--------Section 2 Mobile 300px------*/
@media only screen and (max-width: 300px) {
    /* Custom styles for 300px screen size */
}

/*--------Section 2 Mobile 640px------*/
@media only screen and (max-width: 640px) {
    /* Custom styles for 640px screen size */
}

/*--------Section 2 Mobile 768px------*/
@media only screen and (max-width: 768px) {
    /* Custom styles for 768px screen size */
}

/*--------Section 2 Mobile 1024px------*/
@media only screen and (max-width: 1024px) {
    /* Custom styles for 1024px screen size */
    .rectangle {
        max-width: 80%;
    }
}

/*--------Section 2 Mobile 1280px------*/
@media only screen and (max-width: 1280px) {
    /* Custom styles for 1280px screen size */
    .rectangle {
        max-width: 70%;
    }
}

/* Custom styles for larger screens */
@media only screen and (min-width: 1281px) {
    .rectangle {
        max-width: 540px;
    }
}


/*========END section 2========*/
/*========END section 2========*/


/*========section 3NEW========*/
/*========section 3NEW========*/

#section3NEW {
    background-color: #FCD465;
}

.title {
    margin-bottom: 20px; /* Adjust the spacing between titles */
    width: 51%;
}

#experientially {
    display: inline-block;
    position: relative;
    right: 30px;
}

#experientially li {
    position: relative;
    left: 25px;
}

#group-toasting {
    position: relative;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 2px solid black;
}

.round-yell {
    height: auto;
    border-radius: 5%;
    overflow: hidden;
    color: #333;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #333;
}

.round-yell:hover {
    transition: 0.2s ease-in-out;
    font-style: italic;
    box-shadow: 1px 1px 15px #fff; /* Subtle box shadow */
}



/*--------Section 3 Mobile 300px------*/
@media only screen and (max-width: 300px) {
    #group-toasting {
        position: relative;
        max-width: 100%;
        width: auto;
        height: auto;
        right: 5%;
        border: 2px solid black;
    }

    #toast-title {
        position: relative;
        max-width: 100%;
        right: 8%;

    }
    #toast-text {
        position: relative;
        max-width: 100%;
        right: 8%;

    }
}

/*--------Section 3 Mobile 640px------*/
@media only screen and (max-width: 640px) {
    #group-toasting {
        position: relative;
        max-width: 100%;
        width: auto;
        height: auto;
        right: 5%;
        border: 2px solid black;
    }

    #toast-title {
        position: relative;
        max-width: 100%;
        right: 5%;

    }
    #toast-text {
        position: relative;
        max-width: 100%;
        right: 5%;

    }
}

/*--------Section 3 Mobile 768px------*/
@media only screen and (max-width: 768px) {
    #group-toasting {
        position: relative;
        max-width: 100%;
        width: auto;
        height: auto;
        right: 5%;
        border: 2px solid black;
    }

    #toast-title {
        position: relative;
        max-width: 100%;
        right: 5%;

    }
    #toast-text {
        position: relative;
        max-width: 100%;
        right: 5%;

    }
}

/*========END section 3NEW========*/



/*========section 4new========*/
/*========section 4new========*/

#section4new {
    background-image: url("media/black-lines.png");
    background-size: 100% 100%;
    background-color: #000000;
    padding: 10px;
    width: 100%;
    color: #fff; /* Set text color to white for better visibility */
}

#yellow-dash {
    color: #FCD465;
    text-shadow: 0px 1px 5px white, 0px 2px 5px white;
}

.rounded-box {
    width: 100%;
    max-width: 425px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    color: #333;
    margin-bottom: 10px;
    background-image: url("media/wt.jpg");
    border-radius: 80px;
}

.rounded-box:hover {
    transition: 0.2s ease-in-out;
    border: 2px solid #000000;
    box-shadow: 1px 1px 55px #ffffff; /* Subtle box shadow */
}

.rounded-box img {
    width: 70px;
    height: auto;
}

.modal-body {
    background-image: url("media/wt.jpg");
    background-size: cover;
}

.modal-body li:hover {
    background-color: #FCD465;
    border-radius: 10px;
}

/*--------Section 4 Mobile 300px------*/
@media only screen and (max-width: 300px) {
    #additional-services {
        font-size: 1.2em;
    }
    .rounded-box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-body {
        padding: 10px;
    }
    .card-title, .card-text {
        text-align: center;
    }
    .learn-more-btn {
        width: 100%;
        font-size: 12px;
    }
}

/*--------Section 4 Mobile 640px------*/
@media only screen and (max-width: 640px) {
    .rounded-box {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-body {
        padding: 20px;
    }
    .card-title, .card-text {
        text-align: center;
    }
    .learn-more-btn {
        width: 100%;
    }
}

/*--------Section 4 Mobile 768px------*/
@media only screen and (max-width: 768px) {
  
    .modal-body {
        padding: 20px;
    }
    .card-title, .card-text {
        text-align: center;
    }
    .learn-more-btn {
        width: 100%;
    }
}


/*========END section 4new========*/

/*========section 5========*/
/*========section 5========*/
#section5 {
    background-image: url("media/wt.jpg");
    background-size: cover;
}

#church-bones {
    position: relative;
    height: auto;
    width: 118.5%;
    left: -15%; /* Adjusted to move the image to the right */
}

.dash {
    width: 50%;
    border: 1px solid #FCD465;
    box-shadow: 1px 1px 3px #040404; /* Subtle box shadow */
    border-radius: 1000%;
}

#however {
    position: relative;
    left: 0;
    font-weight: bold;
}

.small-square {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #FCD465; /* Yellow color */
    border-radius: 5px; /* Add border-radius for rounded corners */
    box-shadow: -2px 3px 3px #040404; /* Subtle box shadow */
    left: 20%;
}

.square-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.square-text {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

/*--------Section 5 Mobile 300px------*/
@media only screen and (max-width: 300px) {
    #church-bones {
        width: 100%;
        left: 10%; /* Adjusted to move the image to the right */
    }
    #why-cng {
        position: relative;
        width: 100%;
        left: 5% !important;
    }
    .dash {
        width: 80%;
        margin: 0 auto;
    }
    .small-square {
        width: 30px;
        height: 30px;
        left: 10%;
    }
    .square-title {
        font-size: 14px;
    }
    .square-text {
        font-size: 12px;
    }
}

/*--------Section 5 Mobile 640px------*/

@media only screen and (max-width: 640px) {
    #church-bones {
        width: 100%;
        left: 55%; /* Adjusted to move the image to the right */
    }
    #why-cng {
        position: relative;
        width: 100%;
        left: 25%;
    }
 
}

/*--------Section 5 Mobile 768px------*/

@media only screen and (max-width: 768px) {
    #church-bones {
        width: 100%;
        left: 5%; /* Adjusted to move the image to the right */
    }
    #why-cng {
        position: relative;
        width: 100%;
        left: 0%;
    }
 
}


/*--------Section 5 Mobile 768px------*/
@media only screen and (max-width: 768px) {

}


/*========END section 5========*/
/*========END section 5========*/





/*========section 6========*/
/*========section 6========*/

#work-dash {
    color: #FCD465;
    text-shadow: 1px 1px 3px rgb(0, 0, 0), 0px 2px 5px white;
}
.img-thumbnail:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 1px 25px #FCD465; /* Subtle box shadow */
}

/*========END section 6========*/
/*========END section 6========*/


/*========section 7========*/
/*========section 7========*/

#section7 {
    background-image: url("media/path.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
}

.logo-img {
    max-width: 100%;
    height: auto;
}

.contact-text p {
    margin: 5px 0;
    font-size: 18px;
    color: #FCD465;
}

.btn.btn-link.text-light {
    text-decoration: none !important;
}

#sidebar {
    background-image: url("media/wt.jpg");
    background-size: cover;
}

.offcanvas-body ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    gap: 5px; /* Adjust the gap between grid items */
    list-style-type: none; /* Remove the default list style */
    padding: 0; /* Remove any default padding */
}

.offcanvas-body li:hover {
        background-color: #FCD465;
        border-radius: 10px;
}

/*--------Footer Mobile------*/

@media (min-width: 576px) {
    #footer {
        position: relative;
        left: 0%;
    }

}

